@import url('https://fonts.google.com/share?selection.family=Bungee|Playfair+Display:ital,wght@0,400..900;1,400..900');
h1{
  font-family:"Bungee", cursive;
  font-weight: 400;
}
button{
  font-size: larger;
  background-color: green;
  color: yellow;
  border-width: 0;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}

/* იმპორტი არის ახალი ფონტის შემოტანა ფაილში რომელიც დეფაულტად არ არის */
/* 
ეს არის ლინკის ყველა მდგომარეობა:
:link - ლინკის დეფაულტი
:hover - როდესაც მაუსი არის მასზე
:active - როდესაც მაუსით აკლიკავთ
:visited - როდესაც შემდეგი ლინკზე უკვე ნამყოფი ხართ
*/